<nav class="flex items-center justify-between flex-wrap bg-color-navbar p-6 fixed left-0 right-0 top-0 z-50">
    <div class="flex  justify-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0
            0 54 54" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5
                22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45
                3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8
                0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2
                6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45
                9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8
                0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
        </svg>
        <span class="font-semibold text-xl tracking-tight"><a href="/">PlayStation 5</a></span>
    </div>
    <div class="navbar-burger block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded
                text-teal-200 border-teal-400 hover:text-white
                hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div class="navbar-menu w-full block flex-grow lg:flex lg:items-center
                lg:w-auto hidden">
        <ul class="lg:flex sm:block navbar-close text-white text-sm lg:flex-grow">
          {% for item in site.data.navigation %}
            <li{% if page.url==item.link %} class="active"{% endif %}>
               
            <a href="{{ item.link }}" class="block a-link mt-4 lg:inline-block lg:mt-0  nav-link hover:underline mr-4">
               {{ item.name }}
           </a>
        </li>
            {% endfor %}
        </ul>
    </div>
</nav>